
/* CSS validated using https://jigsaw.w3.org/css-validator/#validate_by_input */
/* Followed udacity style guide: http://udacity.github.io/frontend-nanodegree-styleguide */

body {
	font: 300 14px "Lato", sans-serif;

	color: #747704 ;
}

.title-super {
	font-size: 60px;
}
.title-summary {
	margin-top: 10px;
}

.header-row {
	margin-top: 20px;
}

.project-header {
	font: 300 36px "Lato", sans-serif;

	letter-spacing: 2px ;
}
hr {
    border: 0;

	padding: 0;

	margin: 5px 0 35px 0 ;

    height: 5px;

    color: #bcbbbb;

    background-color: #bcbbbb ;
}
.inner-row-spacing {
	margin-bottom: 20px ;
}
.text-muted {
	color: #bcbbbb;
}
.text-thin {
	font-weight: 100 ;
}
.project-caption {
	font: 300 36px "Lato", sans-serif;
}

/* Image Properties */

.udacity-logo {
	width: 140px ;

	height: 140px ;

    margin: 10px 0 5px 0;
}
.main-image {
	width: 1140px ;

	height: 350px ;
}
.portfolio-image,
.resume-image,
.frogger-image,
.websiteoptim-image,
.neighborhood-image,
.tdd-image{
	width: 350px ;

	height: 210px ;
}

.portfolio-image-lg,
.resume-image-lg,
.frogger-image-lg,
.websiteoptim-image-lg,
.neighborhood-image-lg,
.tdd-image-lg {
	width: 550px ;

	height: 300px ;
}
.link-property,
.link-property:link,
.link-property:visited,
.link-property:hover,
.link-property:active {
	color: #bcbbbb;

    text-decoration: none ;

    cursor: pointer ;
}

